body {
  background-image: url(https://i.pinimg.com/564x/41/b9/80/41b98032fc7b1f001c9432a885381365.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}

.image-container {
  width: 200px;  
  height: 200px; 
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, li {
  color: white;
  text-align: center;
  font-family: verdana;
}
